:root {
    font-family: sans-serif;
    --bg: white;
    --fg: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #000;
        --fg: whitesmoke;
    }
}

body {
    background-color: var(--bg);
    color: var(--fg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

:link {
    color: var(--fg);
}

:visited {
    color: grey;
}

hr {
    background-color: var(--fg);
    color: var(--fg);
}

header {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1rem;
        font-weight: normal;
        text-transform: uppercase;
    }

    h3 {
        font-size: 1.75rem;
    }
}

main {
    #heading-image {
        height: 180px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #images-container {
        border: solid 2px black;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 5px;
        
        img {
            width: 200px;
        }
    }

    padding-bottom: 50px;
}

fieldset {
    border-radius: 8px;
}

input, textarea, button {
    border-radius: 4px;
}
