:root {
    font-family: sans-serif;
    --fg: black;
    --bg: #F1F6FC;
    --accent: #207FF1;
    --elevated: white;
    --subtle: #767676;
}

html {
    background-color: var(--bg);
}

body {
    padding-top: 120px;
    width: min(1420px, 90%);
    margin: auto;
    /* debug */
    /* border: solid 2px black; */
}

#headliner-mission-container {
    display: flex;
    flex-wrap: wrap;
}

#headliner,
#mission {
    flex: 1;
    margin: 1rem;
    min-width: 18rem;
    /* max-width: 30%; */
}

#headliner {
    margin: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

    h1 {
        font-size: 38px;
        font-weight: bold;
        line-height: 1.5em;
        margin: 0;
    }

    hr {
        border-top: 3px solid var(--accent);
        margin-top: 1rem;
        margin-left: 0;
        width: 105px;
    }
}

#mission {
    font-weight: 400;
    font-size: 18px;
    margin-top: calc(1rem + 10px);
}

#cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex-grow: 1;
    flex-basis: 240px;
    min-width: 240px;

    background: var(--elevated);
    margin: 1rem;
    padding: 2rem;
    border-radius: 30px;
    .amount {
        font-weight: 600;
        /* text-wrap: nowrap; */
        .big-number {
            font-size: 54px;
            color: var(--accent);
        }
    }
    .details {
        padding-top: 25px;
        font-size: 0.9rem;
        color: grey;
    }
}
